{% if pay %}
<form method="GET" id="rozetkapay" action="{{ pay_href }}" accept-charset="utf-8">
    {% if pay_qrcode %}
    <img rpay_qrcode src="{{ pay_qrcode }}" height="150">    
    {% endif %}
    <input type="submit" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary button" />
</form>
{% else %}
<div rozetkapay_alert_error style="color: red">{{ error }}</div>
{% endif %}